:root {
  --color: #eee;
  --bg-color: #222831;
  --a-color-visited: #fff;
  --h1-color: #fff;
  --h1-color-alt: #00ADB5;
  --section-links-a-color: #fff;
  --section-links-a-bg-color: #393E46;
  --section-links-a-bg-color-hover: #00ADB5;

  --font-size: 1rem;
  --line-height: 1.5rem;

  --h1-font-size: 2rem;
  --h1-line-height: 2rem;

  --padding: 16px;

  --image-width: 192px;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: var(--font-size);
  line-height: var(--line-height);

  background-color: var(--bg-color);
  color: var(--color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

.container {
  padding: 2rem 1rem;
  max-width: 720px;
}

.container p {
  color: var(--color);
}

a {
  color: var(--color);
}

a:visited {
  color: var(--a-color-visited);
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--padding);
}

.information {
  text-align: center;
}

.information h1 {
  font-size: var(--h1-font-size);
  line-height: var(--h1-font-size);
  color: var(--h1-color);
}

.information h1 span {
  color: var(--h1-color-alt);
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.links a,
.links a span,
.links a svg {
  color: var(--section-links-a-color);
  font-size: var(--font-size);
  line-height: var(--padding);
}

.links a {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 8px;
  text-decoration: none;
  background-color: var(--section-links-a-bg-color);
  padding: var(--padding);
  border-radius: 4px;
}

.links a:hover {
  background-color: var(--section-links-a-bg-color-hover);
}

.links a svg {
  line-height: var(--padding);
  width: var(--padding);
  height: var(--padding);
}

.avatar {
  text-align: center;
  margin-bottom: calc(var(--padding) * -1);
}

.avatar img {
  width: var(--image-width);
  height: var(--image-width);
  border-radius: 50%;
}
